{% extends 'layout.html' %}

{% block body %}
    <div class="product-grid-flex">
    {% for pizza in pizzas %}
    <div class='pizza-item'>
        <img class="pizza-image" src="{{ MEDIA_URL}}/{{pizza.image}}">
        <p class="pizza-title">{{pizza.name}}</p>
        <p class="item-price">{{pizza.price}} грн</p>
        <div>
            <a class="order-button" href=#>замовити</a>
        </div>
    </div>
    {% endfor %}
    {% for beverage in beverages %}
    <div class='pizza-item'>
        <img class="pizza-image" src="{{ MEDIA_URL}}/{{beverage.image}}">
        <p class="pizza-title">{{beverage.name}}</p>
        <p class="item-price">{{beverage.price}} грн</p>
        <div>
            <a class="order-button" href=#>замовити</a>
        </div>
    </div>
    {% endfor %}
    </div>
{% endblock body %}
