{% extends 'layout.html' %}

{% block body %}
    <h1> Order </h1>
    <table>
        <tr>
            <th>Date</th>
            <th>Customer</th>
            <th>Number</th>
            <th>Id</th>
        </tr>
        {% for order in orders %}
        <tr>
            <th>{{order.date}}</th>
            <th>{{order.customer.name}}</th>
            <th>{{order.customer.number}}</th>
            <th><a href={% url 'order_details' order.id %}>{{order.id}}</a></th>
        </tr>        
        {% endfor %}
        <br/>
    </table>
{% endblock body %}
