* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
a {
    text-decoration: none;
}

header {
    background-color: #363637;
    margin: 0;
    height: 50px;
}


header a {
    line-height: 50px;
    padding-left: 10px;
    color: #ffb717;
    text-decoration: none;
}

.main-content{
    margin: auto;
    background-color: azure;
    border: dotted;
}

.side-navigation{
    margin: auto;
    background-color: brown;
    border: solid;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px 15px;
}

.product-grid-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pizza-item {
    margin: 15px;
    padding: 10px 10px 10px 10px;
    background: coral;
    border: solid;
    border-radius: 15px;
    max-width: 240px;
}

.pizza-image {
    width: 200px;
    height: 200px;
}

.pizza-title {
    font-size: 20px;
    text-align: center;
}

.item-price {
    text-align: center;
}

.order-button {
    width: 95%;
    border: solid;
}