* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    background-color: #363637;
    margin: 0;
    height: 50px;
}

header a {
    line-height: 50px;
    padding-left: 10px;
    color: #ffb717;
    text-decoration: none;
}

.main-content{
    margin: auto;
    background-color: azure;
    border: dotted;
}

.side-navigation{
    margin: auto;
    background-color: brown;
    border: solid;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px 15px;
}

.pizza-item {
    background: coral;
    border: solid;
}